My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tweet",
        "options": {}
      },
      "id": "dc1e8d7c-37a1-4e3a-8a28-777e3f669fff",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -40,
        -1265
      ],
      "webhookId": "4b065497-d8ad-47bf-be1d-33920a89f1c0"
    },
    {
      "parameters": {
        "text": "={\n  \"text\": \"{{ $json.text }}\",\n  \"card_uri\": \"{{ $json.card_uri }}\"\n}",
        "additionalFields": {}
      },
      "id": "dac87502-bbb2-4367-9552-6fc8b7a73a84",
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1940,
        -1265
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "fhe9wZEIpmILax5w",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8db03899-43b1-4fc8-8baa-b70d70ae165e",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2160,
        -1265
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple Format Tweet Node Code\nconsole.log('Starting format tweet process');\n\nvar embedData = [];\nif ($json.embedArray) {\n  embedData = $json.embedArray;\n} else if ($json.body) {\n  if ($json.body.embedArray) {\n    embedData = $json.body.embedArray;\n  }\n}\n\nconsole.log('Found embeds:', embedData.length);\n\nvar titleEmbed = null;\nvar thumbnailEmbed = null;\n\nvar i = 0;\nwhile (i < embedData.length) {\n  if (embedData[i].title === 'Title') {\n    titleEmbed = embedData[i];\n  }\n  if (embedData[i].title === 'Thumbnail') {\n    thumbnailEmbed = embedData[i];\n  }\n  i = i + 1;\n}\n\nif (!titleEmbed) {\n  throw new Error('No title found in embed data');\n}\n\nfunction getStoreName(url) {\n  var parts = url.split('://');\n  var domain = parts[1] || parts[0];\n  var hostParts = domain.split('/');\n  var hostname = hostParts[0];\n  var cleanDomain = hostname.replace('www.', '');\n  var storeParts = cleanDomain.split('.');\n  var storeName = storeParts[0];\n  return storeName.charAt(0).toUpperCase() + storeName.slice(1);\n}\n\nfunction getDomain(url) {\n  var parts = url.split('://');\n  if (parts.length === 2) {\n    var protocol = parts[0];\n    var rest = parts[1].split('/')[0];\n    return protocol + '://' + rest;\n  }\n  return 'https://www.google.com';\n}\n\nvar storeName = getStoreName(titleEmbed.url);\nvar productTitle = titleEmbed.description || 'Product';\nvar productUrl = titleEmbed.url;\nvar thumbnailUrl = null;\nif (thumbnailEmbed) {\n  thumbnailUrl = thumbnailEmbed.url;\n}\n\nvar tweetText = '🚨RESTOCK ALERT (' + storeName + ')🚨\\n\\n' + productTitle + '\\n\\n' + productUrl + '\\n\\n🎮 JOIN OUR DISCORD: https://discord.gg/8u9nWThtyk';\nvar refererDomain = getDomain(productUrl);\n\nif (!thumbnailUrl) {\n  return {\n    tweetText: tweetText,\n    thumbnailUrl: null,\n    storeName: storeName,\n    productTitle: productTitle,\n    productUrl: productUrl,\n    refererDomain: refererDomain,\n    hasImage: false\n  };\n} else {\n  return {\n    tweetText: tweetText,\n    thumbnailUrl: thumbnailUrl,\n    storeName: storeName,\n    productTitle: productTitle,\n    productUrl: productUrl,\n    refererDomain: refererDomain,\n    hasImage: true\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        -1265
      ],
      "id": "8dc4feae-c339-42b2-bb4d-42bd88cec54a",
      "name": "Format Tweet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "35483ab7-00a2-4d7a-b32a-47c1c564027d",
              "leftValue": "={{ $json.hasImage }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        -1265
      ],
      "id": "7202a82a-5c16-4f86-a17a-e139235e7d7c",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "imageData"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -1340
      ],
      "id": "959efecb-4f67-49f6-823c-b9c57e323cda",
      "name": "Twitter Media Upload"
    },
    {
      "parameters": {
        "jsCode": "// Final Tweet Formatter for Twitter API\nconsole.log('=== Final Tweet Formatter ===');\nconsole.log('Input data:', JSON.stringify($json, null, 2));\n\nvar tweetText = $json.tweetText || '';\nvar hasImage = $json.hasImage || false;\nvar mediaIds = [];\n\n// If we have an image, get the media ID from the upload response\nif (hasImage && $json.media_id_string) {\n  mediaIds.push($json.media_id_string);\n  console.log('Including media ID:', $json.media_id_string);\n} else {\n  console.log('No image - posting text only');\n}\n\n// Format for Twitter API v2\nvar tweetData = {\n  text: tweetText,\n  card_uri: \"\"  // Prevent link previews\n};\n\n// Only add media if we have media IDs\nif (mediaIds.length > 0) {\n  tweetData.media = {\n    media_ids: mediaIds\n  };\n}\n\nconsole.log('Final tweet data:', JSON.stringify(tweetData, null, 2));\n\nreturn tweetData; "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        -1265
      ],
      "id": "8537dc92-bc9d-43a9-bd98-cce3d0b2ca4e",
      "name": "Final Tweet Formatter"
    },
    {
      "parameters": {
        "url": "={{ $json.thumbnailUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "image/webp,image/apng,image/jpeg,image/png,image/gif,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Referer",
              "value": "={{ $json.refererDomain }}"
            },
            {
              "name": "Origin",
              "value": "={{ $json.refererDomain }}"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "image"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "no-cors"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "cross-site"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "imageData"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -1340
      ],
      "id": "61a9cc70-054e-49cd-b603-5e054cf541b2",
      "name": "Download Image"
    },
    {
      "parameters": {
        "jsCode": "return items\n  .filter(item => item.binary?.imageData)\n  .map(item => {\n    // Fallbacks in case these fields are missing\n    const binary = item.binary.imageData;\n\n    return {\n      binary: {\n        imageData: {\n          ...binary,\n          fileName: binary.fileName || \"upload.png\",        // Twitter requires a file name\n          mimeType: binary.mimeType || \"image/png\",         // Set default if missing\n        }\n      }\n    };\n  });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        -1340
      ],
      "id": "86eaaf92-0071-40a6-b060-6cde9937039c",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Tweet": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tweet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Tweet Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Media Upload": {
      "main": [
        [
          {
            "node": "Final Tweet Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Tweet Formatter": {
      "main": [
        [
          {
            "node": "Post Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Twitter Media Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0d151df-3a01-4f6e-bc57-a2c5891761df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b2fb600eb275ae53a15cb683bd1faf5bc13ea766f15ef16f1618090cfba8a48"
  },
  "id": "Z0ZDlAAwOVORZqSD",
  "tags": []
}