workflows/tweet-via-http.json
{
  "nodes": [
    {
      "id": "http_trigger",
      "parameters": {
        "path": "tweet",
        "method": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "id": "twitter_post",
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{ $json.body.tweet }}"
      },
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [400, 300],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "id": "log_data",
      "parameters": {
        "level": "info",
        "message": "Tweet triggered for product: {{ $json.body.productInfo.title || 'No title' }} - Keywords: {{ $json.body.productInfo.matchedKeywords }}"
      },
      "name": "Log Tweet Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 500]
    },
    {
      "id": "respond",
      "parameters": {
        "responseData": "={{ { success: true, tweet: $json.body.tweet, productInfo: $json.body.productInfo } }}",
        "responseMode": "lastNode",
        "statusCode": 200
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Post Tweet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Tweet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Tweet": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Tweet Data": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Tweet via HTTP",
  "active": true
} 